<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.

  Office Addess:
  12500 High Bluff Drive
  San Diego, CA, 92150
</p>